* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

.m-50 {
  margin: 50px;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-700 {
  font-weight: 700;
}

.fs-15 {
  font-size: 15px;
}

.fs-20 {
  font-size: 20px;
}

.fs-30 {
  font-size: 30px;
}

.mt-10 {
  margin-top: 10px;
} 
.mt-50 {
  margin-top: 50px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-100 {
  margin-top: 100px;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 500px;
}
.column2 {
  float: left;
  width: 100%;
  padding: 10px;
  height: 400px;
}
.column3 {
  float: left;
  width: 70%;
  padding: 10px;
  height: 500px;
}
.column4 {
  float: left;
  width: 50%;
  padding: 10px;
  height: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.shadow {
  box-shadow: 0px 0px 10px 5px #cdcdcd;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.tempfont {
  font-family: "Work Sans";
  font-size: 150px;
  color: #ffffff;
}

.text-color-white {
  color: #ffffff;
}

.text-color-grey {
  color: #909090;
}

.lh-80 {
  line-height: 80%;
}

.lh-5 {
  line-height: 5%;
}
.weaicon {
  float: right;
  width: 150px;
  margin-right: 50px;
}

/* search bar */

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 2px solid #ffffff;
  border-right: none;
  padding: 5px;
  height: 36px;
  outline: none;
  color: #202020;
  font-size: 14px;
}

.searchTerm:focus {
  color: #000000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #ffffff;
  background: #ffffff;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.submenu {
  font-family: "Raleway";
  font-size: 50px;
}

.card {
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
  border-width: 3px;
  border-color: #cdcdcd;
}
